---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Astro/Hero.astro';
import RagSection from '../components/Astro/RagSection.astro';
import OmniChannel from '../components/Astro/OmniChannel.astro';
import Handoff from '../components/Astro/Handoff.astro';
import ScrollSequence from '../components/Astro/ScrollSequence.astro';
import PricingCta from '../components/Astro/PricingCta.astro';
---

<BaseLayout title="Kirovox - ChatBot Builder">
  <main>
    <Hero />
    <OmniChannel />
    <ScrollSequence />
    
    <!-- 
      <Handoff />
      <RagSection />
    <PricingCta /> -->
  </main>
</BaseLayout>
